<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!recipeForm.valid">{{ editMode ? 'Update'
                        : 'Save' }}</button>
                    <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" formControlName="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Image Url</label>
                        <input class="form-control" type="text" formControlName="inputImgScr" #imageUrl>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img [src]="imageUrl.value" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea formControlName="dis" rows="6" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" style="margin: 10px;" *ngFor="let ingredientCtrl of controls; let i = index"
                        [formGroupName]="i">
                        <div class="col-xs-8">
                            <input class="form-control" type="text" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" type="number" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div style="margin-left: 200px;" class="button btn btn-success" (click)="onAddIngredient()">Add
                            New Ingredient</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>