<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="addNewItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 formgroup">
                    <label for="name">Name</label>
                    <input type="text" name="name" class="form-control" [(ngModel)]="name" required>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" class="form-control" [(ngModel)]="amount" required
                        pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" [disabled]="!f.valid" type="submit">{{ editMode ? 'Update' : 'Add'
                        }}</button>
                    <button *ngIf="editMode" class="btn btn-danger" type="button" [disabled]="!editMode"
                        (click)="onDelete()">Delete</button>
                    <button class="btn btn-primary" type="button" [disabled]="name == '' && amount == null"
                        (click)="onClearForm()">Clear</button>
                </div>
            </div>
        </form>

    </div>
</div>