<div class="container">
  <div class="row mt-5">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <a routerLink="/home" class="btn btn-success">Home</a>
    </div>
    <div class="col-md-4">
      <input [(ngModel)]="searchName" type="text">
      <label style="padding: 30px;">Search</label>
    </div>
  </div>
  <br />
  <hr />
  <div class="row">
    <table class="table">
      <!-- <app-thead [headings]="['Index','First Name', 'Last Name', 'Email', 'Phone', 'Gender', 'Action']"></app-thead> -->
      <app-tbody [search]="searchName" [allUsers]="users" [headings]="['Index','First Name', 'Last Name', 'Email', 'Phone', 'Gender', 'Action']"></app-tbody>
    </table>
    
  </div>
</div>

<!-- 
<data-table-search></data-table-search> //Will contain a search field on Fullname.
<data-table-header></user-table-header> // First Name, Last name, Email, Phone, Gender
<data-table-body></data-table-body> //Pass users data and show them in the table
<data-table-paginator></data-table-paginator> //Will accept pageNo, No of Items and show data based on provided params
 -->